<Page::Header @title="Customers" />
<Page::Content>
  <h5 class="card-title">
    {{this.sortedCustomers.length}} Results
  </h5>
  <div class="d-flex justify-content-between align-content-center mb-3 form-inline">
    {{!-- Search --}}
    <Features::Search @model={{this.sortedCustomers}} />
    {{!-- --}}
    <div>
      <select class="form-control" {{on "change" this.updateSortProperty}}>
        <option id="lastNameAsc" value="lastName" selected={{eq this.sortID "lastNameAsc" }}>
          Sort by name (ASC)
        </option>
        <option id="lastNameDesc" value="lastName" selected={{eq this.sortID "lastNameDesc" }}>
          Sort by name (DESC)
        </option>
        <option id="budgetAsc" value="budget" selected={{eq this.sortID "budgetAsc" }}>
          Sort by budget (ASC)
        </option>
        <option id="budgetDesc" value="budget" selected={{eq this.sortID "budgetDesc" }}>
          Sort by budget (DESC)
        </option>
      </select>
    </div>
  </div>



  <div class="card">
    <CustomersTable @model={{this.sortedCustomers}} />
  </div>
</Page::Content>