<Page::Header @title="Customers" />
<Page::Content>
  <h5 class="card-title">
    {{this.sortedCustomers.length}} Results
  </h5>
  <div class="d-flex justify-content-between align-content-center mb-3 form-inline">
    {{!-- Search --}}
    <Features::Search />
    {{!-- --}}
    <div>
      <select class="form-control" {{on "change" this.updateSortProperty}}>
        <option value="lastNameAsc" selected={{eq this.sortProperty "lastNameAsc" }}>
          Sort by name (ASC)
        </option>
        <option value="lastNameDesc" selected={{eq this.sortProperty "lastNameDesc" }}>
          Sort by name (DESC)
        </option>
        <option value="budgetAsc" selected={{eq this.sortProperty "budgetAsc" }}>
          Sort by budget (ASC)
        </option>
        <option value="budgetDesc" selected={{eq this.sortProperty "budgetDesc" }}>
          Sort by budget (DESC)
        </option>
      </select>
    </div>
  </div>



  <div class="card">
    <CustomersTable @model={{this.sortedCustomers}} />
  </div>
</Page::Content>